NUGET_USER=
NUGET_TOKEN=

SchedulerApiKey=
Provider__Cdn__CdnLocalMinio__ApiKey=
Provider__Cdn__CdnBunnySelf__ApiKey=
Provider__Cdn__CdnBunnyS3__ApiKey=
Provider__Cdn__CdnBunnyS3__ApiSecret=

Provider__Audio__AudioElevenLabs__ApiKey=
Provider__Video__VideoCreatomate__ApiKey=
