NUGET_USER=
NUGET_TOKEN=

SchedulerApiKey=
Provider__Cdn__CdnLocalMinio__ApiKey=
Provider__Cdn__CdnBunnySelf__ApiKey=
Provider__Cdn__CdnBunnyS3__ApiKey=
Provider__Cdn__CdnBunnyS3__StorageApiKey=
Provider__Cdn__CdnBunnyS3__StorageSecretKey=
